.header {
    background-color: rgba(0, 0, 0) !important;
    padding: 0 50px;
}

.brand {
    color: aliceblue !important;
    font-family: 'Henny Penny', sans-serif;
    font-size: 35px !important;
    cursor: pointer;
    text-decoration: none;
}

.link {
    color: aliceblue !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px !important;
    text-transform: capitalize;
    text-decoration: none;
}